.mockup-manzana {
    width: auto;
    height: auto;
    opacity: 100;
}

.img-dta {
    width: 50%;
    height: auto;
}
.img-huevo {
    width: 100%;
    height: auto;
}
.int {
    text-align: justify;
}
